body{
    background-color: rgb(255, 255, 255);
    color: blue;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 80px;
}

.hero {
  height: calc(100vh - 80px);

  background-image:
    linear-gradient(rgba(11, 5, 5, 0.7), rgba(55, 31, 31, 0.7)),
    url("../img/Fundo.png");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  max-width: 600px;
  width: 100%;
  text-align: center;
}
.formulario {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.formulario input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
}
.formulario button {
  padding: 12px 20px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}
