*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#cfcfcf;
}

.overlay{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.modal{
  background:#3c4660;
  width:520px;
  padding:30px;
  border-radius:12px;
  color:white;
  position:relative;
}

.fechar{
  position:absolute;
  right:15px;
  top:10px;
  font-size:20px;
  cursor:pointer;
  opacity:0.7;
}

h1{
  font-size:30px;
  margin-bottom:5px;
}

.sub{
  opacity:0.8;
  margin-bottom:25px;
}

.plano{
  display:flex;
  gap:15px;
  margin-bottom:20px;
}

.icone{
  background:#4da3ff;
  width:35px;
  height:35px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

.plano h3 span{
  opacity:0.7;
  font-weight:normal;
}

.info{
  display:flex;
  gap:40px;
  margin-top:10px;
}

.azul{
  color:#4da3ff;
  font-weight:bold;
}

ul{
  list-style:disc;
}

.pagamento{
  display:flex;
  gap:10px;
  margin:15px 0;
}

.pagamento input{
  padding:12px;
  border:none;
  border-radius:6px;
  width:100%;
}

.salvar{
  display:flex;
  align-items:center;
  gap:10px;
  margin:15px 0;
  opacity:0.9;
}

.botoes{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
}

.cancelar{
  background:#e5e5e5;
  border:none;
  padding:12px 20px;
  border-radius:6px;
  cursor:pointer;
}

.assinar{
  background:#4da3ff;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:6px;
  cursor:pointer;
}