/* ===============================
   RESET
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* ===============================
   BACKGROUND
================================ */
.hero {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
}


/* ===============================
   CONTEÚDO CENTRAL
================================ */
.conteudo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ===============================
   LOGO
================================ */
.logo-central {
  width: 220px;
  margin-bottom: 30px;
}

/* ===============================
   TEXTO
================================ */
.conteudo h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.conteudo p {
  font-size: 16px;
  margin-bottom: 30px;
}

/* ===============================
   BOTÃO
================================ */
.btn-voltar {
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
}

/* ===============================
   TABLET
================================ */
@media (max-width: 1024px) {
  .logo-central {
    width: 200px;
  }

  .conteudo h1 {
    font-size: 34px;
  }
}

/* ===============================
   MOBILE
================================ */
@media (max-width: 768px) {

  .logo-central {
    width: 170px;
    margin-bottom: 20px;
  }

  .conteudo h1 {
    font-size: 26px;
  }

  .conteudo p {
    font-size: 15px;
    padding: 0 20px;
  }
}
